<!--두번째 페이지에서는
매칭된 동행이랑 
루트가 나올거에요!-->

<div id="third_cover">    
        <h5 style="padding-top: 5%;">
            
        <h4>당신의 여행메이트은 <%= @friend %> 입니다</h4>
        <%@travel_title.each do |t|%>
        <%= t %>
        <% end %>
    </h5>
    
    <div class="to_give_padding">여행 루트</div>
    <hr>
    <br><br>
    <h5>첫번째 코스</h5>
    <br>
    <div class="timeline-image">
    <img src="/2_1.jpg" class="rounded mx-auto d-block" style="width: 200px; height:200px;">
    </div>
    <%= @movie_title[0].loco %>
    <%= @sport_name %>
    

    <br>
    <a class="btn btn-outline-warning" href="/home/three" role="button" style="background-color: #FFFFFF; box-shadow: 0 2px 8px #999;"><div class="to_big">여행을 시작합시다</div></a>
    <!--<a href = "/home/three" width="50">세번째 페이지로</a>-->
</div>


